anndata==0.7.4
astroid==2.4.2
backcall==0.2.0
certifi==2020.6.20
cycler==0.10.0
decorator==4.4.2
fast-histogram==0.9
fcsparser==0.2.1
get-version==2.1
graphviz==0.14.1
h5py==2.10.0
importlib-metadata==2.0.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
isort==5.5.4
jedi==0.17.2
joblib==0.17.0
jupyter-client==6.1.7
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
legacy-api-wrap==1.2
llvmlite==0.34.0
matplotlib==3.3.2
mccabe==0.6.1
mpl-scatter-density==0.7
natsort==7.0.1
networkx==2.5
numba==0.51.2
numexpr==2.7.1
numpy==1.19.2
packaging==20.4
pandas==1.1.2
parso==0.7.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pydot==1.4.1
Pygments==2.7.1
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.2
scanpy==1.6.0
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
setuptools-scm==4.1.2
sinfo==0.3.1
six==1.15.0
statsmodels==0.12.0
stdlib-list==0.7.0
tables==3.6.1
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.4
tqdm==4.50.0
traitlets==4.3.3
typed-ast==1.4.1
umap-learn==0.4.6
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.3.0
