astroid==2.4.2
certifi==2020.6.20
cycler==0.10.0
decorator==4.4.2
fast-histogram==0.9
fcsparser==0.2.1
isort==5.5.4
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.2
mccabe==0.6.1
mpl-scatter-density==0.7
networkx==2.5
numpy==1.19.2
pandas==1.1.2
Pillow==7.2.0
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scipy==1.5.2
seaborn==0.11.0
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
wrapt==1.12.1