/* #################################### switch */
.switch {
  position: relative;
  display: inline-block;
  margin: 0px 5px;
  width: 30px;
  height: 17px;
}
  
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* #################################### legend colorpickers */
input[type=color]{
	width: 10px;
	height: 10px;
	border: none;
  border-radius: 0px;
	background: none;
  margin: 0px 5px 0px 0px;
  transform: translateY(5%);
	padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type=color]::-webkit-color-swatch {
	border: none ;
	border-radius: 0px;
}

/* #################################### legend labels */
.legend ul {
  list-style: none;
  padding: 0;
}

.legend li {
  cursor: pointer;
  position: relative;
  background: #eee;
  margin: 5px;
  padding: 5px 10px;
}

.legend label {
  cursor: pointer;
  position: absolute;
  transform: translateY(-55%);
  top: 50%;
}

.legend li[selected=false]{
  opacity: 0.25;
}

.slider.text {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  font-size: 0.75em;
  color: hsl(0, 0%, 75%)
}

.slider.text:before {
  background-color: transparent;
  font-size: 0.75em;
}

input:checked + .slider.text {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  font-size: 0.75em;
  color: hsl(0, 0%, 25%)
}

.sortable-ghost {
  opacity: .6;
}

/* #################################### channel selection menu */
select {
  margin: 5px;
  color: hsl(0, 0%, 25%);
}

/* #################################### delete button overlay */
.ol-attribution > ul {
  font-size: 1.6rem;
}

.overlay {
  display: none;
  position: absolute;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 180px;
  top: -76px;
  left: -90px;
}

.overlay:after {
  top: 100%;
  border: 10px solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-top-color: rgba(255,255,255,0.9);
}

.overlay button + button {
  float: right;
}

/* #################################### general */
html, body, #map {
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* #################################### d3 plots */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/* sidebar icons vertical alignment bug fix */
.sidebar-tabs > li > a, .sidebar-tabs > ul > li > a {
  display: inherit
}

.sidebar-left .sidebar-close {
top: 10;
}