/* #################################### switch */
.switch {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 30px;
  height: 17px;
}
  
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* #################################### legend label */
.slider.text {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  font-size: 0.75em;
  color: hsl(0, 0%, 75%)
}

.slider.text:before {
  background-color: transparent;
  font-size: 0.75em;
}

input:checked + .slider.text {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  font-size: 0.75em;
  color: hsl(0, 0%, 25%)
}

/* #################################### colorpicker */
input[type=color]{
	width: 10px;
	height: 10px;
	border: none;
	border-radius: 20px;
	background: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none ;
	border-radius: 20px;
}

/* #################################### menu */
select {
  margin: 5px;
  color: hsl(0, 0%, 25%);
}

/* #################################### general */
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html, body, #map {
  height: 100%;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.container {        
  display: flex;
  align-items: center;
}

.bold {
  font-weight: bold;
  padding: 5px
}

.li-content {
  width: calc(100% - 3em);
}

/* vertical alignment bug fix */
.sidebar-tabs > li > a, .sidebar-tabs > ul > li > a {
    display: inherit
}

.sidebar-left .sidebar-close {
  top: 10;
}