
.option-group {
  margin: 0px -20px 0;
  height: 31px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 11pt;
  color: rgba(0, 59, 136, 0.781);
  background-color: rgba(0, 136, 170, 0.24);
}

.option-group * {
  font-size: 11pt;
  color: rgba(0, 59, 136, 0.781);
  background-color: transparent;
  border: 0px;
}

/* #################################### legend colorpickers */
input[type=color]{
	width: 10px;
	height: 10px;
	border: none;
  border-radius: 0px;
	background: none;
  margin: 0px 5px 0px 0px;
  transform: translateY(5%);
	padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type=color]::-webkit-color-swatch {
	border: none ;
	border-radius: 0px;
}

/* #################################### legend labels */
.legend ul {
  list-style: none;
  padding: 0;
}

.legend li {
  cursor: pointer;
  position: relative;
  color: rgba(0, 59, 136, 0.781);
  background: rgba(0, 136, 170, 0.14);
  margin: 5px 5px 5px 30px;
  padding: 5px 10px;
}

.legend-header {
  cursor: pointer;
  font-size: 14;
  color: rgba(0, 59, 136, 0.781);
  background: rgba(0, 136, 170, 0.14);
  padding: 5px 10px;
  margin: 0px 5px 0px 0px;
}

.legend label {
  cursor: pointer;
  position: absolute;
  transform: translateY(-55%);
  top: 50%;
}

.legend li[selected=false]{
  opacity: 0.25;
}

.legend-header[selected=false]{
  opacity: 0.25;
}

.sortable-ghost {
  opacity: .6;
}

/* #################################### channel selection menu */
select {
  margin: -3px;
  font-weight: bold;
}

/* #################################### general */
html, body, #map {
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* #################################### d3 plots */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/* sidebar icons vertical alignment bug fix */
.sidebar-tabs > li > a, .sidebar-tabs > ul > li > a {
  display: inherit
}

.sidebar-left .sidebar-close {
top: 10;
}

svg.colorbar {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 95%;
}